<!-- <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>recnor</title>
       
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<link rel="stylesheet" href="pstyle.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col col-md-4">
                <div class="nav">
                    <img class="profile" src="conn.png" height="40px" width="40px">
                    <h2 style="color:white;font-size:30px" ,>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspParticipants!</h2>

                    <spam class="navbar">
                        <i class="bi bi-list">


                        </i>
                        </span>
                </div>
                <div class="search">
                    <spam>
                        <div class="input">
                            <i class="bi bi-search">
                            </i>

                    </spam>
                </div>
                </spam>
            </div>
            <br>
            <br>
            <div class="margn">
                <h2>Welcome <span style="color:rgb(255, 0, 174)">
                        <%= username %>
                    </span></h2>
                <br>

                <input style="width:100%;
                       border:2px solid rgb(230, 53, 168);
                       border-radius: 4px;
                      margin-left:-22%;
                       outline:none;
                       padding:8px;
                       box-sizing: border-box;
                       transition: 3s;
                       " type="text" class="form-control" id="addtitle" aria-describedby="title"
                    placeholder="Enter Name">
                <br>
                <br>


                <textarea style="  background-color: #dddddd;
                       color:#666666;
                       padding:1em;
                       margin-left: -15%;
                       border-radius: 3%;
                       border: 2px solid transparent;
                       outline: none;
                       font-family: 'Heebo', sans-serif;
                       font-weight: 500;
                       font-size: 13px;
                       line-height: 1.4;
                       width:250px;
                       height: 70px;
                       transition:all 0.2s;
                       box-shadow: 0 0 15px 0 rgb(233, 34, 170);" placeholder="Enter Message" id="addtxt"></textarea>
                <br>
                <br>
                <br>
            </div>
            <button style="font-size:20px" class="btn btn-success" id="addbtn">Send</button>

        </div>

        <div class="fix">
            <h1>&nbsp&nbsp&nbsp&nbsp&nbspCHAT ROOM</h1>


            <div class="col col-md-8">
                <div class="sc">
                <div id="notes" class="row container-fluid">
                </div>
                </div>
            </div>
      

    <script>
        shownotes();

        let addbtn = document.getElementById('addbtn');
        addbtn.addEventListener("click", function (e) {
            let addtxt = document.getElementById('addtxt');
            let addtitle = document.getElementById('addtitle');
            let notes = localStorage.getItem("notes");
            if (notes == null) {
                notesobj = [];
            }
            else {
                notesobj = JSON.parse(notes);
            }
            let myObj = {
                title: addtitle.value,
                text: addtxt.value
            }
            notesobj.push(myObj);
            localStorage.setItem("notes", JSON.stringify(notesobj));
            addtxt.value = "";
            addtitle.value = "";

            shownotes();

        });
        function shownotes() {
            let notes = localStorage.getItem("notes");
            if (notes == null) {
                notesobj = [];
            }
            else {
                notesobj = JSON.parse(notes);
            }
            let html = "";
            notesobj.forEach(function (element, index) {
                html += `
            <div class="notescard my-2 mx-2 card" style="width: 18rem;">
            <div class="card-body">
            <h3 style="font-size:20px;color:rgb(255, 0, 174)">${element.title}</h3>
            <p style="background-color:rgb(62, 89, 243);border-radius:10px;color:white;font-size:18px;font-weight:bold;padding-left:3%;height:3%">${element.text}</p>
           
            </div>
          </div>`;
            });
            let noteselm = document.getElementById('notes');
            if (notesobj.length != 0) {
                noteselm.innerHTML = html;
            }
            else {
                noteselm.innerHTML = `nothing`;
            }


        }
        function deletenote(index) {
            // console.log("I am deleteing",index);
            let notes = localStorage.getItem("notes");
            if (notes == null) {
                notesobj = [];
            }
            else {
                notesobj = JSON.parse(notes);
            }
            notesobj.splice(index, 1);
            localStorage.setItem("notes", JSON.stringify(notesobj));

            shownotes();
        }
        let search = document.getElementById('searchtxt');
        search.addEventListener("input", function () {
            let inputval = search.value.toLowerCase();
            //console.log("input event fired!",inputval);
            let notescards = document.getElementsByClassName('notescard');
            Array.from(notescards).forEach(function (element) {
                let cardtext = element.getElementsByTagName("p")[0].innerText;
                if (cardtext.includes(inputval)) {
                    element.style.display = "block";
                }
                else {
                    element.style.display = "none";
                }
                //console.log(cardtext);

            })

        });
        

    </script>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>