
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recnor</title>
    <script defer src="http://localhost:5000/socket.io/socket.io.js"></script>
    <script defer src="client.js">
    </script>
    <link rel="stylesheet" href="pstyle.css">
    
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col col-md-4">
                <div class="nav">
                    <img class="profile" src="reclogo.jpg" alt="">
                    
                   <spam class="navbar">
                    <i class="bi bi-list">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"  fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                    </i>
                </span>
                </div>
                <div class="search">
                    <spam>
                    <div class="input">
                        <i class="bi bi-search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                              </svg>
                        </i>
                        <spam class="inbox">
                        <input type="text" placeholder="enter email..">
                    </spam>
                    </div>
                </spam>
                </div>
                <div class="emails">
                   <h2> Participants!</h2>
                   <h3>Welcome <span><%= username %></span></h3>
                   <h3>Welcome <span><%= name %></span></h3>
                   
                   
                   


                </div>
            </div>
            <div class="col col-md-8">
                <div class="chatt">
                    <h1>CHAT ROOM</h1>
                    <div class="chat-message-input">
                    <forum action="#" id="chat-message-input-container">
                        <input id="chat-message-input" placeholder="Type message here" type="text" >
                        <button class="send-message" type="submit">Send</button>
                        </forum>
                    </div>
                    <div class="chat-container">
                        <div class="message left">akanksha:hello this is akku here</div>
                        <div class="message right">pragya:hii  </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
