

.container
{

    margin-right:-10px;
    background-color: rgb(10, 1, 36);
    border-radius: 10px;
    box-sizing: border-box;
    height:95vh;
    
    
}
.p{
    background-color: rgb(255, 0, 174);
    border: 2px solid black;
}
.col
{
    height:190%;
    width:100%;
    position:fixed;
    z-index:1;
  
}
.sc{
    overflow-y: scroll;
  
}
.col-md-4
{
    width:31%;
    border-right: 2px solid grey ;
    height:200vh;
}
.fix
{
    margin-left:40%;
    background-color: rgb(5, 2, 47);    
}
.btn{
    background-color: rgb(209, 32, 195);
    color: white;
    border: 1px solid black;
    height: 50px;
    width: 100px;
    font-size:15px;
    font-weight: bolder;
    border-radius: 5%;
    margin-left: 37%;
    
}
.btn:hover{
    background-color: rgb(108, 5, 70);
}
input[type-text]{
    width:100%;
    border:2px solid black;
    border-radius: 4px;
    margin: 8px 0;
    outline:none;
    padding:8px;
    box-sizing: border-box;
    transition: 3s;

}
input[type-text]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;

}
.textarea{
    background-color: #dddddd;
    color:#666666;
    padding:1em;
    margin-left: 50%;
    border-radius: 3%;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width:200px;
    height: 200px;
    transition:all 0.2s;
}
.textarea:hover{
    cursor:pointer;
    background-color: #eeeeee;
}
.textarea:focus{
    cursor:text;
    color:#333333;
    background-color: white;
    border-color: black;
}
.margn
{
    margin-left: 30%;
    color:yellow;
}

.profile
{ display:flex;
    width:60px;
    height:40px;
    border-radius: 50%;
    margin-top: 4%;
    margin-left: 3%;

}
.nav
{
border-radius:9px;
display:flex;

}
.nav
{   
    background-color: navy;
    justify-content: left;
    border-radius: 2px;
    
    
}
.navbar
{
padding-left: 70%;
}
.bi-list
{
    color: rgb(7, 0, 0);
    margin-top:5px;
    margin-left:20px;
transition: 0.3s;
}

i:hover
{
    color:rgb(68, 68, 134);
    cursor:pointer;
    font-weight:bolder;
}

.inbox 
{
    padding-left:10px;
  
    
}
.inbox input
{
width:70%;

}
.input
{  
    background-color:#eddddd;
    padding-left:10px;
    padding-bottom:3%; 
}
h2{
    color:rgb(34, 109, 230);
}

.col-md-8
{  width:59%;
    
    float:right;
    right:0;
    padding-left:100px;
    
}
h1
{    
    margin:0px;
    color:white;
    margin-left:-16%;
    background-color: rgb(122, 122, 240);
    padding: 10px 20px 16px 35%;
   
}


#chat-message-input-container {

    margin-top:30%;
    height: 14%;
    width: 70%;
    display:flex ;
    flex-direction: row; 
   position:fixed;
  
  
    }
    #chat-message-input {
      height: 37%;
      width: 70%;
       border:2px solid; 
      border-radius:5px;
   }
    .send-message {
        cursor:pointer;
      height:39px;
      width:10%;
      font-size: 15px;
      color: white;
      background: #58d258;
      border:2px solid; 
      border-color: black;
      border-radius:5px;
   }
      .chat-container
    {
    margin-left:-15%;
    max-width:110%;
    height:65vh;
    overflow-y: auto;
    }

      .message
      {
       border-radius: 5%;
       background-color:rgb(210, 106, 198);
       padding:1%;
       width:fit-content;
       margin:1%;
       border-color: rgb(31, 3, 31);
       border: 2px solid;

      }
      .left
      {
        
        float:left;
        clear:both;
      }
      .right
      {
        float:right;
        clear:both;
      }
      span{
        color:red;
      }


